argcomplete==2.0.0
azote==1.12.3
Babel==2.12.1
beautifulsoup4==4.12.2
blivet==3.8.2
blivet-gui==2.4.2
cffi==1.15.1
charset-normalizer==3.2.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
distro==1.8.0
dnf==4.18.2
fb-re2==1.0.7
file-magic==0.4.0
gssapi==1.7.3
humanize==3.13.1
idna==3.4
koji==1.33.1
langtable==0.0.64
libcomps==0.1.20
libdnf==0.72.0
lightdm-gtk-greeter-settings==1.2.2
lxml==4.9.3
mercurial==6.5.3
nftables==0.1
numpy==1.24.4
olefile==0.46
onboard==1.4.1
packaging==23.1
pexpect==4.8.0
pid==2.2.3
pillow==10.2.0
ply==3.11
productmd==1.38
progressbar2==3.53.2
psutil==5.9.5
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.13.3
PyGObject==3.46.0
pykickstart==3.48
pyparsing==3.0.9
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.51
python-utils==3.3.3
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpm==4.19.1
rpmautospec==0.3.8
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setproctitle==1.2.3
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
setuptools==67.7.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.6.0
soupsieve==2.5
systemd-python==235
urllib3==1.26.18
zombie-imp==0.0.2
